@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

* {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
 /* background: linear-gradient(90deg, #90EE90, #013220); */
 background: linear-gradient(135deg, #a0c2aa, #228B22);
}
   



header {
    background-color: #262626;
    color: rgb(255, 254, 251);
    /* padding: 20px; */
    /* text-align: center; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

header p {
    /* margin-left: 35em; */
    font-size: 1.1em;
    padding-left: 35em;
    font-weight: bold; 
    /* padding-right: 0; */
}

/* Estilizando a barra de navegação */
nav {
    padding: 1.4em;
}

nav ul {
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o padding padrão */
    margin: 0; /* Remove a margem padrão */
    display: flex; /* Usa flexbox para o layout */

}

nav ul li {
    margin-left: 2em; 
}

nav ul li a {
    text-decoration: none; 
    color: #fffcfc; 
    font-weight: bold; 
    padding: 10px 15px; 
    border-radius: 20px; 
    transition: background-color 0.3s ease; 
}

nav ul li a:hover {
    background-color: #ffffff; /* Cor de fundo ao passar o mouse */
    color: #000000; 
}

.container {
    display: flex;
    font-size: 1em;
    /* background-color: #000000; */
    color: #f8fafc;
}

.column {
    flex: 1;
    padding: 3em;
    text-align: center;
}


.titulo-caixa {
    margin: 2em;
}

.column+.column {
    border-left: 1px solid #ccc;
}

.texto-aszn {
    margin: 8%;
    text-align: center;
    font-size: 0.8rem;

}






































main{
    display:  flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* height: 90.9vh;  */
}

#container {
    display:flex;
    align-items: center;
    gap: 17rem;
}

#img img {
    width: 40rem;
    height: auto;
}

.form-group label {
    font-size: 1rem;
    color: #cbd5e1;
    font-weight: 500
}
Select {
    width: 60%;
    background-color: #3f3f46;
    color: #f8fafc;
    font-size: 1rem;
    padding: 0 0.5rem;
    margin-top: 0.3rem;
    
}

/* select option {
    color: black;
} */

#calculadora {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2.5rem;
    /* color: rgb(1, 153, 1); */
    color: white;
    background-color: #262626;
    border-radius: 1rem;
}

#form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#title {
    font-size: 1.6rem;
    position: relative;
}

#title::after{
    position: absolute;
    content: "";
    background-color: rgb(1, 153, 1);
    width: 8rem;
    height: 2px;
    bottom: 0;
    left: 0;
    border-radius: 1px;
}

.input-box label{
    font-size: 1rem;
    color: #cbd5e1;
    font-weight: 500;
}

.input-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3f3f46;
    padding: 0.3rem;
    border-radius: 3px;
    margin-top: 3px;
}

.input-icon span,
.input-icon i {
    color: #cbd5e1;
    font-size: 1.3rem;
    padding: 0.2rem 1rem;
}

.input-icon input {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1rem;
    color: #f8fafc;
    padding: 0 0.5rem;
}

/* Removendo setas de Numeração */
.input-icon input::-webkit-outer-spin-button,
.input-icon input::-webkit-inner-spin-button {
    appearance: none;
}

.input-icon input:focus{
     outline: none;
}

#calcular{
    border: none;
    font-size: 1.12rem;
    font-weight: bold;
    background-color: #16a34a;
    color: #f8fafc;
    padding: 0.5rem ;
    cursor: pointer;
}

#resultado{
    display: flex;
    align-items: center;
    gap: 1rem;
    border-top: 1px solid #ffffff34;
    padding-top: 1.3rem;
}

footer {
    background-color: #262626;
    color: rgb(236, 234, 234);
    text-align: center;
    padding: 1.5rem;
    position: relative;
    bottom: 0;
    width: 100%;
    list-style-type: none;
}

footer a {
    color: white;
}
