<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora Carbono</title>
    <link rel="icon" href="./img/planeta-terra.png" type="image/png">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a>Ferramenta de cálculo de emissões de Gases do Efeito Estufa (GEE)</a></li>
                <li><a href="https://github.com/SydhineyRhurtyson/calcular_carbono_aps" id="text-repository" target="_blank" >Access repository</a></li>
            </ul>
        </nav>
    </header>

    <h1 id="como-funciona">Como Funciona?</h1>

    <div class="container">
        <div class="column">
            <h1 class="titulo-caixa">Motivação</h1>
            <p>Devido a crescente degradação ambiental, causada principalmente pela queima de combustíveis fósseis e
                pelo consumo intensivo de recursos. A ferramenta será essencial para desenvolver projetos de redução de
                emissões e para estimular práticas mais sustentáveis, com benefícios que se estendem à educação, saúde e
                economia</p>
        </div>
        <div class="column">
            <h1 class="titulo-caixa">Cálculo de Emissão</h1>
            <p>Nossa calculadora utiliza dados sobre consumo de energia, combustível e transporte para estimar as
                emissões de gases de efeito estufa...</p>
        </div>
    </div>
    <div class="container">
        <div class="column">
            <h1 class="titulo-caixa">Transformando vidas</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam aspernatur atque temporibus ipsum
                corrupti perferendis eius iusto at? Eligendi ab error est veniam repudiandae minima autem reiciendis
                sunt nisi ut?
            </p>
        </div>
        <div class="column">
            <h1 class="titulo-caixa">Empregabilidade</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat nihil perferendis adipisci fuga cumque
                illo corrupti quae expedita tempore fugit, error, quibusdam eaque pariatur voluptate tenetur, mollitia
                optio id doloribus?</p>
        </div>
    </div>

    <main>
        <div id="container">
            <section id="img">
                <img src="./img/Alone-bro.svg" alt="">
            </section>
            <section id="calculadora">
                <form id="form">
                    <h1 id="title">
                        Calculadora - Crédito Carbono
                    </h1>
                    <!-- <div class="form-group">
                        <label for="tipo_usuario">Selecionar Categoria:</label>
                        <select id="tipo_usuario" required>
                            <option value="individuo">Indivíduo</option>
                            <option value="empresa">Empresa</option>
                            <option value="cidade">Cidade</option>
                        </select>
                        <label for="tipo_usuario">Selecionar Fonte de energia:</label>
                        <select id="tipo_usuario" required>
                            <option value="individuo">Eólica</option>
                            <option value="empresa">Hidrelétrica</option>
                            <option value="cidade">Termoelétrica</option>
                            <option value="cidade">Biomassa </option>
                        </select>
                    </div> -->
                    
                    
                    <div class="form-group">
                        <label for="tipo_usuario">Selecionar Transporte:</label>
                        <select id="tipo_usuario" required>
                            <option value="individuo">Carro</option>
                            <option value="empresa">Moto</option>
                            <option value="cidade">Bicicleta/Elétrica</option>
                            <option value="cidade">Patinete Elétrico</option>
                        </select>
                    </div>


                    <div class="input-box" id="input-combustivel">
                        <label for="Entrada-1">
                            Transporte Individual
                        </label>
                        <div class="input-icon">
                            <i class="fa-solid fa-gas-pump"></i>
                            <input type="number" id="TransporteIndividual">
                            <span>KM</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="tipo_usuario">Selecionar Transporte:</label>
                        <select id="tipo_usuario" required>
                            <option value="individuo">Metrô/Trem</option>
                            <option value="empresa">Táxi/Uber</option>
                            <option value="cidade">Ônibus municipal/viagem</option>
                            <option value="cidade">Balsa</option>
                        </select>
                    </div>


                    <div class="input-box" id="input-transporte">
                        <label for="Entrada-1">
                            Transporte Público
                        </label>
                        <div class="input-icon">
                            <i class="fa-solid fa-compass"></i>
                            <input type="number" id="TransportePublico">
                            <span>KM</span>
                        </div>
                    </div>

                    <div class="input-box">
                        <label for="Entrada-1">
                            Consumo de Energia
                        </label>
                        <div class="input-icon">
                            <i class="fa-solid fa-bolt"></i>
                            <input type="number" id="">
                            <span>kWh</span>
                        </div>
                    </div>


                    <div class="input-box" id="input-transporte">
                        <label for="Entrada-1">
                            Consumo de Gás
                        </label>
                        <div class="input-icon">
                            <i class="fa-solid fa-compass"></i>
                            <input type="number" id="">
                            <span>Botijões/mês</span>
                        </div>
                    </div>

                    <button id="calcular">
                        Calcular Emissão de carbono
                    </button>
                </form>
                <div id="resultado" class="hidden">
                    <h3>Total de Emissões:</h3>
                    <span id="valor emissao">55</span>
                </div>
            </section>
        </div>
    </main>

    <footer>
        <p>
            <li><a href="/como-funciona">....</a></li>
        </p>
        <p>Calculadora De Carbono</p>
        <p>&copy;2024</p>
    </footer>

    <script src="/static/script.js"></script>
</body>
</html>