<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora Carbono</title>
    <link rel="icon" href="./img/planeta-terra.png" type="image/png">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="./como-funciona.html">Como Funciona</a></li>
                <li><p>Ferramenta de cálculo de emissões de Gases do Efeito Estufa (GEE)</p></li>
            </ul>
            
        </nav>
        
    </header>
    
    <main id="container">
        <section id="img">
            <img src="./img/Environmental study-bro.svg" alt="">
        </section>
        <section id="calculadora">
            <form id="form">
                <h1 id="title">
                    Calculadora - Crédito Carbono
                </h1>
                <div class="form-group">
                    <label for="tipo_usuario">Selecionar Categoria:</label>
                    <select id="tipo_usuario" required>
                        <option value="individuo">Indivíduo</option>
                        <option value="empresa">Empresa</option>
                        <option value="cidade">Cidade</option>
                    </select>
                </div>
                <div class="input-box">
                    <label for="Entrada-1">
                        Consumo de Energia
                    </label>
                    <div class="input-icon">
                        <i class="fa-solid fa-bolt"></i>
                        <input type="number" id="">
                        <span>kWh/MWh</span>
                    </div>
                </div>
                <div class="input-box" id="input-combustivel">
                    <label for="Entrada-1">
                        Combustível Consumido
                    </label>
                    <div class="input-icon">
                        <i class="fa-solid fa-gas-pump"></i>
                        <input type="number" id="">
                        <span>LITROS</span>
                    </div>
                </div>
                <div class="input-box" id="input-transporte">
                    <label for="Entrada-1">
                        Distância de Transporte e Veículos
                    </label>
                    <div class="input-icon">
                        <i class="fa-solid fa-compass"></i>
                        <input type="number" id="">
                        <span>KM</span>
                    </div>
                </div>
                <button id="calcular">
                    Calcular Emissão de carbono
                </button>
            </form>
            <div id="resultado">
                <h3>Total de Emissões:</h3>
                <span id="valor emissao">55</span>
            </div>
        </section>
    </main>

    <div class="container">
        <div class="column">
            <h1 class="titulo-caixa">Motivação</h1>
            <p>Devido a crescente degradação ambiental, causada principalmente pela queima de combustíveis fósseis e pelo consumo intensivo de recursos. A ferramenta será essencial para desenvolver projetos de redução de emissões e para estimular práticas mais sustentáveis, com benefícios que se estendem à educação, saúde e economia</p>
        </div>
        <div class="column">
            <h1 class="titulo-caixa">Cálculo de Emissão</h1>
            <p>Nossa calculadora utiliza dados sobre consumo de energia, combustível e transporte para estimar as emissões de gases de efeito estufa...</p>
        </div>
    </div>
    <div class="container">
        <div class="column">
            <h1 class="titulo-caixa">Transformando vidas</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam aspernatur atque temporibus ipsum corrupti perferendis eius iusto at? Eligendi ab error est veniam repudiandae minima autem reiciendis sunt nisi ut?
            </p>
        </div>
        <div class="column">
            <h1 class="titulo-caixa">Empregabilidade</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat nihil perferendis adipisci fuga cumque illo corrupti quae expedita tempore fugit, error, quibusdam eaque pariatur voluptate tenetur, mollitia optio id doloribus?</p>
        </div>
    </div>
    
    
    <footer>
        <p>
            <li><a href="/como-funciona">....</a></li>
        </p>
        <p>Calculadora De Carbono</p>
        <p>&copy;2024</p>
    </footer>

    <script src="/static/script.js"></script>
</body>

</html>